<!DOCTYPE html>
{% extends 'front_end/base_templates/base.html' %}

{% load front_end_filter %}
{% load static %}
{% load humanize %}

{% block styles %}
<link rel="stylesheet" href="{% static 'front_end/film_overview.css' %}">
{% endblock %}


{% block body-block %}

 {% include 'front_end/base_components/navbar.html' %}
    
  <div class="container-fluid text-center">  
    <br>
    <h2>OVERALL FILM PERFORMANCE AT THE UK BOX OFFICE 2002-2020</h2>  
    <div class="row content">

      <div class="col-sm-1 sidenav">
      </div>
      <div class="col-sm-10">

        {% autoescape off %}
        {{ annual_bo_gross_div }}
        {% endautoescape %}
        
        {% if graph %}
        {{ graph|safe }}
        {% endif %}
        
      </div>
      <div class="col-sm-1 sidenav">
      </div>
    </div>

    <div class="container-fluid text-center mt-5">    
      <div class="container">  
        {% include 'front_end/general_overviews/film_overview/film_components/yearly_film_report.html' %}
      </div>
    </div>  
    
{% endblock %}
