<!DOCTYPE html>
{% extends 'front_end/base_templates/base.html' %}

{% load static %}
{% load humanize %}

{% block styles %}
<link rel="stylesheet" href="{% static 'front_end/about_page.css' %}">
{% endblock %}

{% block body-block %}

 {% include 'front_end/base_components/navbar.html' %}

  <section id="information w-100">
    <div class="container d-flex h-100 col-10 text-justify mt-5 mb-5">
      <div class = "textbox">
          <h3 class="heading_text">What is UKBOA?</h3>
          <br>
          <h3>
          UK Box Office Analytics (UKBOA) is an interactive data visualisation tool which tracks
          the performance of films, actors, directors and screenwriters at the UK box office since 2001.
          Using the <a href="https://www.bfi.org.uk/education-research/film-industry-statistics-research/weekend-box-office-figures">
          BFI's weekly box office reports</a>, UKBOA gauges how films and the people involved in 
          making them have seen their financial returns fluctuate over time, providing an insight into the
          changing tastes of British cinema-goers.
          <br>
          <br>
          With a database of over 8000 films, 60,000 actors, 5000 directors and 13,000 screenwriters, UKBOA
          offers several different metrics and visually-rendered infographics to analyse and compare films and 
          film-making talent.
          <br>
          <br>
          UKBOA is a work in progress conceived, created and built by Ed Ludlow, a media professional currently
          working for the London-based film and entertainment PR firm <a href="http://organic-marketing.co.uk/">Organic Publicity</a>.
          <br>
          </h3>
        </div>
      </div>
    </section>
    <section id="plx">
    </section>
      <section id="information w-100">
        <div class="container d-flex h-100 col-10 text-justify mt-5 mb-5">
          <div class = "textbox">
            <h3 class="heading_text">Ed Ludlow, Founder</h3>
              <h3>
                <br>
                "UKBOA was a lockdown project which got out of hand.
                <br>
                <br> 
                I've always been fascinated by the way market trends affect the film industry but frustated
                by the shortage of resources (accessible to the public) which provide information on it. 
                <br>
                <br>              
                So during the four months of standstill in 2020, I decided that I would build a website that
                could address this. The only problem was that I'd never typed a line of code before 
                in my life..."   
              </h3>
          </div>    
        </div>
    </div>
    <section id="plx2">
    </section>   
      <section id="information w-100">
        <div class="container d-flex h-100 col-10 text-justify mt-5 mb-5">
          <div class = "textbox">
            <h3 class="heading_text">How was it made?</h3>
            <div class = "textbox">
            <br>
            <h3>
            "UKBOA draws its inspiration from <a href="https://boxoffice.rae.li/">Andy Rae's Box Office Dashboard</a> 
            which uses the BFI's weekly box office reports to track the general performance of British 
            cinematic revenue since 2001 as well as the gross earnings of individual titles and distributors
            in that period. 
            <br>
            <br>
            UKBOA uses a similar data pipline, extracting the relevant information from the BFI weekly reports,
            transforming and cleaning it using Python Pandas before loading it into a large back-end database.
            However, UKBOA also integrates information and images from IMDb's OMDb API to provide its own 
            distinct metrics and graphical interface, as well as insights into the talent involved in making 
            the films.
            <br>
            <br>
            UKBOA uses Django for its front-end interface, with graphs rendered through Python Plotly (using the
            method helpfully outlined by Richard Barella on his website: 
            <a href="https://www.codingwithricky.com/2019/08/28/easy-django-plotly/?fbclid=IwAR3aw27NXYYo51Nedji6MjL3UGihZptYcQG1v53nKNs69gA-hulc2Kc3r_g">Coding w/ Ricky</a>)"
            </h3>
          </div>    
        </div>
      </section>
      <section id="information w-100">
        <div class="container d-flex h-100 col-10 text-justify mt-5 mb-5">
          <div class = "textbox">
            <h3 class="heading_text">Get in touch</h3>
            <div class = "textbox">
            <br>
            <h3>
            I'd love to hear from you! I'm open to any suggestions for how to improve the screenwriters
            or offers to collaborate so please don't hesitate to get in touch.
            <br>
            <br>
            You can email me at EdmundLudlow@hotmail.com.
            <br>
            <br>
            Or via LinkedIn <a href="https://www.linkedin.com/in/ed-ludlow-6148ba119/">here</a>. 
            <br>
            <br>
            Or if you fancy a game of chess, challenge me on <a href="https://www.chess.com/member/eddyhutt">Chess.com</a>.
            <br>
            <br>
            <h3>
        </div>    
      </div>
    </section>

    </div>

{% endblock %}