<!DOCTYPE html>
{% extends 'front_end/base_templates/base.html' %}

{% load static %}
{% load humanize %}

{% block styles %}
<link rel="stylesheet" href="{% static 'front_end/about_page.css' %}">
{% endblock %}

{% block body-block %}

 {% include 'front_end/base_components/navbar.html' %}

  <section id="information w-100">
    <div class="container col-sm-10">
      <div class="container d-flex h-100 col-10 mt-5 mb-5">
        <div class="row">
          <div class="container col-sm-6">
            <img src="{% static '/images/edmund_ludlow_headshot.jpg' %}" id="ed_headshot" width="370px">
          </div> 
          <div class="container col-sm-6">
            <div class = "textbox">
                <h3 class="heading_text">Get in Touch</h3>
                <br>
                <h3>
                  I'd love to hear from you! I'm open to any suggestions of how to improve the site
                  or offers to colaborate so please don't hesitate to get in touch.
                  <br>
                  <br>
                  You can email me at EdmundLudlow@hotmail.com.
                  <br>
                  <br>
                  Or via LinkedIn <a href="https://www.linkedin.com/in/ed-ludlow-6148ba119/">here</a>. 
                  <br>
                  <br>
                  Or if you fancy a game of chess, challenge me on <a href="https://www.chess.com/member/eddyhutt">Chess.com</a>.
                  <br>
                  <br>
                </h3>
                <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}