body{
  font-family: 'Ramabhadra', sans-serif;
  color: white;
  background-color: black;
}

/*  hyperlinks */
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

/* navbar */

.navbar{
  background-color: red;
}

h1{
  color: RED;
}

.navbar-brand{
  margin-right: 30px;
  margin-left: 10px;
}

#navbar_container{
  background-color: black;
  border-radius:0;
}

#navbar_search_container{
  background: none;
  border: none;
}
#navbar_searchbar{
  background: none;
  border-radius: 0;
  border-bottom-width:3px !important;
}

#burger_button{
  background: black;
}

#navbar-dropdown{
  color: black;
}

.form-control::-moz-placeholder{
  color: white;
  opacity:1
}

.form-control:-ms-input-placeholder{
  color:white;
}

.form-control::-webkit-input-placeholder{
  color:white;
}

.form-control[type="text"]{
  color: #FFF;
}

#navbar_button{
  background-color: black;
  margin: 0px;
  padding:0px;
}

#search_button{
  background-color: black;
  margin: 0px;
  margin-right: 15px;
  padding:0px;
  border:none;
}

.nav-item{
  margin-right: 15px;
}

#film_poster{
  width:80%
}

#main_body{
  padding-top: 5%;
}


/* Actor Scroll bar */

.row_scroller{
  padding-top: 20px;
}

.sidebar {
  background-color: black;
  width: 3000px;
  height: 230px;
  /*overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;*/
}

.full-wallet{
  padding:0px;
  margin: 0px;
  border: 0px;
}

.wallet-body{
  height: 100%;
  padding:0px;
  margin: 0px;
  border: 0px;
}

.raise {
  padding-top: 8px;
  margin-bottom: 8px;
}

.balance {
  color: #697377;
  font-size: 0.8em;
  margin-bottom: -3px;
}

.amount {
  color: #697377;
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 20px;
}

.addscrollbar{
  overflow-x: scroll;
  display: flex;
}

.img-container{
  height:100%;
}

.img-container .overlay{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgb(0, 0, 0, 0.6);
  opacity:0;
  transition:opacity 500ms ease-in-out;
}
.img-container:hover .overlay{
  opacity:1;
}
.overlay span{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color:rgb(255, 255, 255);
}