<!DOCTYPE html>
{% extends 'front_end/base_templates/base.html' %}

{% load static %}
{% load humanize %}


{% block body-block %}

 {% include 'front_end/base_components/navbar.html' %}

  <div id="main_body" class='container'>
    <div class='body-text'>
      <!-- Item Row -->
      <div class="row">
        <div class="col-md-8">
          <div class ='writer_name_container text-left'>
            <h1>{{ writer_detail.name }}</h1>
            <p> {{ writer_detail.dob }}</p>
          </div>
          <div class ='writer_data_container text-left'>
            <table class="table">
              <tbody>
                <tr>
                  <td><h5>TOTAL GROSS AT UK CINEMAS</h5>
                    <h2>£{{ writer_detail.career_gross|intcomma }}</h2></td>
                  <td><h5>AVERAGE BOX OFFICE RETURN</h5>
                    <h2>£{{ writer_detail.average_box_office_return |intcomma }} </h2></td>
                </tr>
                <tr>
                  <td><h5>CAREER SCREEN AVERAGE</h5>
                    <h2>£{{ writer_detail.career_screen_average |intcomma }} </h2></td>
                  <td><h5>WEEKS IN UK CINEMAS</h5>
                    <h2> {{ writer_detail.weeks_at_uk_cinemas }} </h2></td>  
                </tr>
              </tbody>
            </table>
          </div>  
        </div>
        <div class="col-md-4">
            <div class="well">
                <p><img src="{{ writer_detail.headshot }}" class="mx-auto d-block" id="film_poster"></p>
            </div>
        </div>
      </div>
        <div class ="row">
          <div class='container text-left'>
            <h3>ANALYTICS:</h3>

          </div>
        </div>
        <div class ="row">
          <div class='container text-left'>

            {% if scatter_div %}
            {{ scatter_div|safe }}
            {% endif %}

          </div>
        </div>
        <div class ="row">
          <div class='container text-left'>

          {% autoescape off %}
          {{ bar_div }}
          {% endautoescape %}

          </div>
        </div>
        <div class='container text-left'>
          <h3>FILMS</h3>
        </div>
        <div class="row_scroller">
          <div class="col-12 sidebar addscrollbar">
            <!-- Actor Film data -->
            {% for film in writer_film_list %}
            <div class="col-lg-2 col-md-3 col-sm-4 col-6 full-wallet float-left d-inline-block">
              <div class="col-lg-12 d-inline-block float-right wallet-body text-center m-0 p-0">
                  <div class="img-container">
                    <a href=" /film_page/{{ film.imdb_id }}">
                      <img class = "img-fluid h-100" src="{{ film.poster }}" alt=""/>
                      <div class= "overlay">
                        <span>
                          <h5>{{ film.title }}</h5>
                          <p>{{ film.release_date }}</p>
                        </span>
                      </div>
                    </a>
                  </div>
              </div>
            </div>
            {% endfor %}
            <!-- /Actor Film data -->
          </div>
        </div>
        <br>
    </div>
  </div>

  </div>

{% endblock %}