<!DOCTYPE html>
{% extends 'front_end/base_templates/base.html' %}

{% load static %}
{% load humanize %}

{% block styles %}
<link rel="stylesheet" href="{% static 'front_end/director_overview.css' %}">
{% endblock %}

{% block body-block %}

{% include 'front_end/base_components/navbar.html' %}

  <div class="container-fluid text-center mt-5">    
    <div class="container"> 
      <h2>TOP DIRECTORS AT THE BRITISH BOX OFFICE</h2>
   
      <div class="row mt-5">

        <div class = "col-sm-6 ">
          <table class="table">
            <thead>
              <h5>TOP 5 DIRECTORS BY CUMULATIVE FILM GROSS AT UK BOX OFFICE</h5>
            </thead>
            <tbody>
              {% for director in directors_gross %}
              <tr class = "table-row ">
                <td class= "align-middle">
                  {{ forloop.counter }}
                </td>
                <td class= "align-middle">
                  <div class="well">
                    <img src="{{ director.headshot }}" class="mx-auto d-block mb-0" id="film_poster" style="width: 37px">
                </div>
                </td>
                <td class= "align-middle">
                  <a href="/director_page/{{ director.imdb_id }}">{{ director.name }}</a>
                </td>
                <td class= "align-middle">
                  £{{ director.career_gross|intcomma }}
                </td>
              </tr>
              {% endfor %}
              
            </tbody>
          </table>
          <div class="container">
            <h5>
              SEE TOP THE 100 <a href="/top_directors_by_bo">HERE</a>
            </h5>
          </div>

        </div>
        <div class = "col-sm-6">
          <div class='container text-left'>

            {% autoescape off %}
            {{ director_bo_bar_div }}
            {% endautoescape %}

            </div>
        </div>
      </div>
      <br>

      <div class="row">
        <div class = "col-sm-6">

          {% autoescape off %}
          {{ director_by_bol_bar_div }}
          {% endautoescape %}

        </div>
        <div class = "col-sm-6">            
          <table class="table">
            <thead>
              <h5>TOP 5 DIRECTORS BY NUMBER OF WEEKS THEIR FILMS APPEARED AT THE BRITISH BOX OFFICE</h5>
            </thead>
            <tbody>
              {% for director in directors_bo_length %}
              <tr class = "table-row ">
                <td class= "align-middle">
                  {{ forloop.counter }}
                </td>
                <td class= "align-middle">
                  <div class="well">
                    <img src="{{ director.headshot }}" class="mx-auto d-block mb-0" id="film_poster" style="width: 37px">
                </div>
                </td>
                <td class= "align-middle">
                  <a href="/director_page/{{ director.imdb_id }}">{{ director.name }}</a>
                </td>
                <td class= "align-middle">
                  {{ director.weeks_at_uk_cinemas }}
                </td>
              </tr>
              {% endfor %}
              
            </tbody>
          </table>
          <div class="container">
            <h5>
              SEE TOP THE 100 <a href="/top_directors_by_length">HERE</a>
            </h5>
          </div>
        </div>
        <div class = "col-sm-6">
        </div>
      </div>

      <br>

      <div class="row">
        <div class = "col-sm-6">

          <table class="table">
            <thead>
              <h5>TOP 5 DIRECTORS BY NUMBER OF FILMS WHICH APPEARED AT THE BRITISH BOX OFFICE</h5>
            </thead>
            <tbody>
              {% for director in directors_num_films %}
              <tr class = "table-row ">
                <td class= "align-middle">
                  {{ forloop.counter }}
                </td>
                <td class= "align-middle">
                  <div class="well">
                    <img src="{{ director.headshot }}" class="mx-auto d-block mb-0" id="film_poster" style="width: 37px">
                </div>
                </td>
                <td class= "align-middle">
                  <a href="/director_page/{{ director.imdb_id }}">{{ director.name }}</a>
                </td>
                <td class= "align-middle">
                  {{ director.num_of_films }}
                </td>
              </tr>
              {% endfor %}
              
            </tbody>
          </table>
          <div class="container">
            <h5>
              SEE TOP THE 100 <a href="/top_directors_by_films">HERE</a>
            </h5>
          </div>
        </div>
        <div class = "col-sm-6">

          {% autoescape off %}
          {{ director_by_film_num_bar_div }}
          {% endautoescape %}
          
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid text-center mt-5">    
    <div class="container">  
      {% include 'front_end/general_overviews/director_overview/overview_components/yearly_director_report.html' %}
    </div>
  </div>  
{% endblock %}
