<!DOCTYPE html>
{% extends 'front_end/base_templates/base.html' %}

{% load static %}
{% load humanize %}

{% block title %}
{{ q_value }} - UKBOA Search Results
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'front_end/search_page.css' %}">
{% endblock %}


{% block body-block %}

{% include 'front_end/base_components/navbar.html' %}

  <div class = "search_result_holder">
    <div class="container col-md-8 col-md-offset-2">

      {% for queries in query %}
      {% if queries.title %}

      <div class="card mb-3">
        <div class="row no-gutters align-items-center">
          <div class="col-md-2">
            <a href="/film_page/{{ queries.imdb_id }}">
              <img src="{{ queries.poster }}" class="card-img" alt="...">
            </a>
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <a href="/film_page/{{ queries.imdb_id }}">
                <h3 class="card-title">{{ queries.title|title }}</h3> 
              </a>
              <p class="card-text"><small class="text-muted">{{ queries.release_date }}</small></p>
              <p class="card-text">
                Director: 
                {% for director in queries.director.all %} 
                  {% if forloop.last %} 
                    <a href="/director_page/{{ director.imdb_id }}">{{ director.name }}</a> 
                  {% else %}
                    <a href="/director_page/{{ director.imdb_id }}">{{ director.name }}</a>,
                  {% endif %}
                {% endfor %} <br>
                Writer: 
                {% for writer in queries.writers.all %} 
                  {% if forloop.last %} 
                    <a href="/writer_page/{{ writer.imdb_id }}">{{ writer.name }}</a> 
                  {% else %}
                    <a href="/writer_page/{{ writer.imdb_id }}">{{ writer.name }}</a>,
                  {% endif %}
                {% endfor %} <br>
              Starring:
              {% for actor in queries.actors.all|slice:":5" %} 
                {% if forloop.last %} 
                  <a href="/actor_page/{{ actor.imdb_id }}">{{ actor.name }}</a> 
                {% else %}
                  <a href="/actor_page/{{ actor.imdb_id }}">{{ actor.name }}</a>,
                {% endif %}
              {% endfor %}
              </p>
            </div>
          </div>
        </div>
      </div>

      {% else %}

      {% if queries.talent_type == 1 %} 
      <div class="card mb-3">
        <div class="row no-gutters align-items-center">
          <div class="col-md-2">
            <a href="/actor_page/{{ queries.imdb_id }}">
              <img src="{{ queries.headshot }}" class="card-img" alt="NOT HERE" >
            </a>
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <a href="/actor_page/{{ queries.imdb_id }}">
                <h3 class="card-title">{{ queries.name }}</h3>
              </a>
              <p class="card-text"><small class="text-muted">Actor</small></p>
              <p class="card-text">Films include:
                {% for films in queries.film_actors.all|slice:":5" %} 
                  {% if forloop.last %}
                    <a href="/film_page/{{ films.imdb_id }}">{{ films.title|title }}</a> 
                  {% else %}
                    <a href="/film_page/{{ films.imdb_id }}">{{ films.title|title }},</a> 
                  {% endif %}
                {% endfor %}</p>
            </div>
          </div>
        </div>
      </div>
      {% elif queries.talent_type == 2 %}
      <div class="card mb-3">
        <div class="row no-gutters align-items-center">
          <div class="col-md-2">
            <a href="/director_page/{{ queries.imdb_id }}">
              <img src="{{ queries.headshot }}" class="card-img" alt="NOT HERE" >
            </a>
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <a href="/director_page/{{ queries.imdb_id }}">
                <h3 class="card-title">{{ queries.name }}</h3>
              </a>
              <p class="card-text"><small class="text-muted">Director</small></p>
              <p class="card-text">Films include:
                {% for films in queries.film_directors.all|slice:":5" %} 
                  {% if forloop.last %}
                    <a href="/film_page/{{ films.imdb_id }}">{{ films.title|title }}</a> 
                  {% else %}
                    <a href="/film_page/{{ films.imdb_id }}">{{ films.title|title }},</a> 
                  {% endif %}
                {% endfor %}</p>
            </div>
          </div>
        </div>
      </div>
      {% else %}
      <div class="card mb-3">
        <div class="row no-gutters align-items-center">
          <div class="col-md-2">
            <a href="/writer_page/{{ queries.imdb_id }}">
              <img src="{{ queries.headshot }}" class="card-img" alt="NOT HERE" >
            </a>
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <a href="/writer_page/{{ queries.imdb_id }}">
                <h3 class="card-title">{{ queries.name }}</h3>
              </a>
              <p class="card-text"><small class="text-muted">Writer</small></p>
              <p class="card-text">Films include:
                {% for films in queries.film_writers.all|slice:":5" %} 
                  {% if forloop.last %}
                    <a href="/film_page/{{ films.imdb_id }}">{{ films.title|title }}</a> 
                  {% else %}
                    <a href="/film_page/{{ films.imdb_id }}">{{ films.title|title }},</a> 
                  {% endif %}
                {% endfor %}</p>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      {% endif %}
      {% endfor %}
      <div class="row">
        <div class="col-md-8 mx-auto text-center">
          {% if is_paginated %}

            {% if page_obj.has_previous %}
            <a class= "btn btn-outline-danger mb-4" href="?q={{q_value}}&page={{ page_obj.previous_page_number }}">←</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
            
              {% if page_obj.number == num %}
                <a class= "btn btn-danger mb-4" href="?q={{ q_value }}/?page={{ num }}">{{ num }}</a>
              {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                  <a class= "btn btn-outline-danger mb-4" href="?q={{q_value }}&page={{ num }}">{{ num }}</a>
              {% endif %}
            
            {% endfor %}

            {% if page_obj.has_next %}
              <a class= "btn btn-outline-danger mb-4" href="?q={{ q_value }}&page={{ page_obj.next_page_number }}">→</a>
            {% endif %}
          
          {% endif %}
        </div>
      </div>
    </div>
  </div>


{% endblock %}