<!doctype html>
{% load static %}

<nav class="navbar navbar-expand-md sticky-top" id="navbar_container">
  <div class="d-flex flex-grow-1" id="navbar_search_container">
    <a href="/" class="navbar-brand">
      <img src = "{% static 'images/UKBOA_home_logo.png' %}" alt="UKBOA" width=120px>
    </a>
    <form method="GET" action="/results/" class="my-auto w-100 d-inline-block order-1">
      <div class="input-group">
        <input type="text" name="q" class="form-control border-top-0 border-left-0 border-right-0"
        placeholder="Search UKBOA" id="navbar_searchbar" name="user_query">
        <button type="submit" class="btn border-0" value="Search"><img src="{% static 'images/UKBOA_NEW_LOGO_search_icon.png' %}" width = 25px></button> 
      </div>
    </form>
  </div>
  <div class="btn-group ml-4 mr-4">
    <button type="button" class="btn btn-secondary rounded" id="burger_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src= "{% static 'images/burger_icon.png' %}" width=25px>
    </button>
    <div class="dropdown-menu dropdown-menu-right" id="navbar-dropdown">
      <a class="dropdown-item text-dark" href="/general_films_page">Film Overview</a>
      <a class="dropdown-item text-dark" href="/actor_overview">Actor Overview</a>
      <a class="dropdown-item text-dark" href="/director_overview">Director Overview</a>
      <a class="dropdown-item text-dark" href="/writer_overview">Writer Overview</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item text-dark" href="/the_site">About The Site</a>
      <a class="dropdown-item text-dark" href="/about_me">About Me </a>
    </div>
  </div>
</nav>

