`<!DOCTYPE html>
{% extends 'front_end/base_templates/base.html' %}

{% load static %}
{% load humanize %}

{% block styles %}
<link rel="stylesheet" href="{% static 'front_end/writer_overview.css' %}">
{% endblock %}

{% block body-block %}

{% include 'front_end/base_components/navbar.html' %}

<div class="container-fluid text-center mt-5">
  <div class="d-flex align-items-center justify-content-center mb-5">
    <h3>TOP 100 WRITERS BY NUMBER OF FILMS WHICH APPEARED AT THE BRITISH BOX OFFICE</h3>
  </div>    
  <div class="container">
    <div class="row">
      <table class="table table-hover col-8 offset-2">
        <tbody>
          {% for writer in writer_num_films %}
          <tr class = "table-row ">
            <td class= "align-middle">
              {{ forloop.counter }}
            </td>
            <td class= "align-middle">
              <div class="well">
                <img src="{{ writer.headshot }}" class="mx-auto d-block mb-0" id="film_poster" style="width: 37px">
            </div>
            </td>
            <td class= "align-middle">
              <a href="/writer_page/{{ writer.imdb_id }}">{{ writer.name }}</a>
            </td>
            <td class= "align-middle">
              {{ writer.num_of_films|intcomma }}
            </td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
    </div>
  </div>
</div>



{% endblock %}